@import 'src/scss/base/_base.scss';
@import 'src/scss/helpers/_helpers.scss';

.location {
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: $h4FontSize;
}