/*
    Font Imports
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
    Font Sizes
*/
$baseFontSize: 16px;

$h1FontSize: 20px;
$h2FontSize: 18px;
$h3FontSize: 16px;
$h4FontSize: 14px;
$h5FontSize: 12px;
$h6FontSize: 10px;

$fontSizeSmall: 8px;
$fontSizeLarge: 26px;

/*
    Font Families
*/
$baseFont: 'Roboto', sans-serif;
$headingFont: 'Roboto', sans-serif;
/*
    Font Weights
*/
$fontWeightRegular: 400;
$fontWeightBold: 700;


/*
    Link Colors
*/
$linkColor: $textWhite;
$linkColorHover: $textPrimary;

/*
    Box Shadows
*/
$boxShadowInner: inset 1px 1px 5px $black;