@import 'src/scss/base/_base.scss';
@import 'src/scss/helpers/_helpers.scss';

.clock {
    display: flex;
    font-size: $fontSizeSmall;
    
    &__panel {
        display: flex;
        align-items: center;
        box-shadow: $boxShadowInner;
        padding: rem(3px) rem(2px);
        border-radius: 3px;
    }

    &__decor {
        margin: 0 rem(5px);
    }

    &__decor-oval {
        height: 5px;
        width: 3px;
        margin: 0 rem(1px);
        background-color:$backgroundPrimary;
        border-radius: 50%;
        display: inline-block;

        &--light {
            opacity: 0.2;
        }

        &--half {
            opacity: 0.5;
        }

        &--full {
            opacity: 1;
        }
    }

}