@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

.progress-bar {

    &__bar {
        width: 100%;
        height: 15px;
        background-color: $backgroundGrey;
        border-radius: 15px;
        box-shadow: $boxShadowInner;
    }

    &__progress {
        height: 100%;
        width: 0%;
        background-color: $colorPrimary;

    }

}