@import '~scss/base/_base.scss';
@import '~scss/helpers/_helpers.scss';

.forecast-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: $backgroundLightGrey;
    border-radius: 5px;
    margin-bottom: rem(5px);
    padding: 0 rem(10px) 0 rem(20px);

    &:first-of-type {
        margin-top: rem(5px);
    }

    &__day {
        min-width: rem(40px);
    }

    &__temp {
        margin: rem(15px);
    }

    &__icon-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    &__icon {

    }

    &__desscription {
        margin-top: -5px;
    }

}